/* Fondo negro */
.background-overlay {
  background-color: #000; 
  color: #fff; 
  
  padding: 20px;
  min-height: 100vh;
}



.movie-card mat-card-actions button {
  background-color: #d9534f; 
  color: #fff; 
  font-family: 'Bungee Inline', sans-serif;
  border-radius: 4px; 
  /*font-weight: bold; 
  transition: background-color 0.3s; /* Efecto de transición */
}

.movie-card mat-card-actions button:hover {
  background-color: #c9302c; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Campo de búsqueda */
.search-container input {
  width: 100%; 
  max-width: 500px; 
  padding: 12px;
  font-size: 1rem;
  border-radius: 5px; 
  border: 1px solid #ddd; 
  transition: border-color 0.3s; 
}

.search-container input:focus {
  border-color: #d9534f; 
  outline: none; 
}

/* Paginación */
.pagination button {
  margin: 0 10px;
  font-size: 1rem;
}

.pagination span {
  font-size: 1rem;
}

/* Filtros */
.filters label {
  color: white;
  font-size: 1rem; 
  font-weight: bold; 
}

/* Contenedor de películas */
.movie-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Movie card */
.movie-card mat-card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border-radius: 10px;
}

.movie-card mat-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Mat-card titles */
mat-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Estilo de la cabecera con el título */
.welcome-title, .text-center {
  text-align: center;
}
